@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Outfit", sans-serif;
  font-size: clamp(16px, 2.5vh, 22px);
  user-select: none;
}

.carousel-container {
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

:root {
  --font-size-text-m: clamp(14px, 1.5vw, 18px);
  --font-size-text-s: clamp(12px, 1.5vw, 16px);
  --font-size-card-title: clamp(16px, 8vw, 22px);
  --font-size-card-content: clamp(12px, 8vw, 16px);
  --font-size-body-xs: clamp(11px, 2vw, 14px);
  --font-size-body-xss: clamp(9px, 4vw, 12px);
  --font-size-body-xsss: clamp(7px, 2vw, 10px);
}

h1{
  font-size: clamp(32px, 7vw, 60px);
  line-height: 1.1;
}

h2{
  font-size: clamp(28px, 6vw, 50px);
  line-height: 1.2;
}

h3{
  font-size: clamp(24px, 5vw, 40px);
  line-height: 1.4;
}

